.units {
  width: 100%;

  table {
    width: 100%;

    thead {
      tr {
        th {
          border: 1px solid #fff;
          padding: 5px 10px;
          text-align: center;

          &:first-child {
            text-align: left;
          }

          &:last-child {
            text-align: right;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid #fff;
          padding: 5px 10px;
          text-align: center;

          &:first-child {
            font-weight: bold;
            text-align: left;
          }

          &:last-child {
            text-align: right;
          }
        }
      }

      .trTotal {
        td {
          color: red;
          font-weight: bold;
        }
      }
    }
  }
}
