.infoChart {
  width: 100%;
  margin: 60px 0;

  h2 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

  .viewChart {
    width: 100%;
    margin: 15px auto;
    img {
      width: 100%;
    }
  }
}
