.addUser {
  .form-group {
    label{
      margin-bottom: 7px;
      font-size: 14px;
      font-weight: normal;
    }
    input{
      border: 1px solid #ddd;
    }
  }
  .actions{
    text-align: center;
    margin-top: 15px;
    button{
      margin: 0 10px;
      width: 100px;
    }
  }
}