.loginPage {
  width: 100%;
  position: relative;

  .btnClose {
    position: absolute;
    top: 30px;
    right: 45px;
    color: #333;
    z-index: 3;
    font-size: 24px;

    &:hover {
      color: rgb(214, 39, 39);
    }
  }

  .content {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    form {
      min-width: 350px;

      .form-group {
        input {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    h1 {
      color: rgba(var(--color_15), var(--alpha-color_15, 1));
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 18px;
      margin-top: 10px;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      font-weight: 900;
      margin: 0 0 15px;
    }

    h4 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin: 0 0 50px;

      a {
        font-size: 24px;
        color: #6e6f6f;
        margin-left: 10px;
      }
    }

    .forgotPassword {
      font-weight: 600;
      text-decoration: underline;
      margin: 15px 0 30px;
      display: inline-block;
      color: #333;
      font-size: 18px;
    }

    .actions {
      button {
        border-radius: 0;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        background-color: #666;
        border: none;
        padding: 10px 15px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
